body {
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

input,
select {
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
}

input.radio {
  width: auto;
}

.d-flex {
  display: flex;
}

.v-center {
  justify-content: center;
}

.h-center {
  align-items: center;
}

.pa-16 {
  padding: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}

button {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.2rem;
  border: none;
}

label {
  display: block;
  margin-bottom: 1rem;
}

.btn-primary {
  background-color: #00d100;
  color: white;
}

.btn-secondary {
  background-color: grey;
  color: white;
}

.w-50 {
  width: 50%;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.no-data {
  font-size: 2rem;
  color: #c0ec71;
}

.special-text {
  font-size: 2rem;
  color: #5c6252;
}

.full-height-center {
  height: 100vh;
  align-items: center;
  justify-content: center;
}
